# Ignore development env
/env
.env

# Ignore conda cache
.ipynb_checkpoints/

# Ignore data files
/data

# Ignore cache
__cache__/

#vscode environment
.vscode/

#vs environment 
.vs/

#bat scripts 
env.bat
run.bat